<footer class="footer">
    <div class="container">
        <div align="left">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>

        <div align="right">
            2017, Wynand Gouws
        </div>

        <div align="center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BottomBannerBetter -->
            <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:50px"
             data-ad-client="ca-pub-9118639068306961"
             data-ad-slot="8723112737">
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</footer>
