<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>

        <div class="pull-right">
            2017, Wynand Gouws
        </div>

        <div id="wrapper" style="text-align: center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BottomBannerAds -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:468px;height:15px"
                data-ad-client="ca-pub-9118639068306961"
                data-ad-slot="3095381531">
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</footer>
