<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="profile-tabs">
              <div class="nav-align-center">
                  <ul class="nav nav-pills" role="tablist">
                      <li class="active">
                          <a href="#Tab1" role="tab" data-toggle="tab">
                              <i class="material-icons">camera</i>
                              Tab 01
                          </a>
                      </li>
                      <li>
                          <a href="#Tab2" role="tab" data-toggle="tab">
                              <i class="material-icons">palette</i>
                              Tab 02
                          </a>
                      </li>
                      <li>
                          <a href="#Tab3" role="tab" data-toggle="tab">
                              <i class="material-icons">favorite</i>
                              Tab 03
                          </a>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
</div>

