{% load staticfiles %}

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../media/wynand/bluff.jpg');"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="profile">
                        <div class="avatar">
                            <img src="../media/wynand/bork.png" alt="Circle Image" class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="title">Wynand Gouws</h3>
                            <h6>Teacher</h6>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="profile-tabs">
                            <div class="nav-align-center">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="active">
                                        <a href="#Resume" role="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-file-text"></i>
                                            Resume
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#Portfolio" role="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-github"></i>
                                            Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#Contact" role="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-comments"></i>
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="profile-tabs">
                            <div class="nav-align-center">
                                <div class="tab-content gallery">
                                    <div class="tab-pane active" id="Resume">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, neque quis eleifend sagittis, leo nisl volutpat urna, at semper nunc sem sit amet libero. Nunc tristique pharetra dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra non lacus eu volutpat. Morbi hendrerit tincidunt purus. Integer suscipit mauris id sem faucibus, a porttitor enim faucibus. Nam eget ligula ultricies, ultrices purus sit amet, lobortis risus. Ut iaculis condimentum tellus in congue. Maecenas congue vel metus vitae tempor.
                                                
                                                Nulla facilisi. In consequat eros non mauris egestas, in cursus lacus varius. In commodo semper lectus vel imperdiet. Donec condimentum felis sed dolor commodo, ac consectetur leo sagittis. Sed at leo commodo, iaculis ex eget, aliquam tellus. Fusce blandit enim ut mi porttitor, id fermentum ipsum viverra. Vestibulum interdum sed ipsum vitae lacinia. In sagittis magna ut tempus consectetur. Phasellus consectetur ligula sed rutrum aliquet. Aliquam libero sem, semper a vulputate id, consectetur condimentum erat. Pellentesque cursus sem rutrum, egestas mauris ac, dictum erat. Donec sagittis massa non magna scelerisque auctor. Fusce ac egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                                
                                                Duis euismod magna et tellus egestas, nec congue dolor placerat. Fusce diam augue, cursus eu pharetra eget, porttitor eget risus. Curabitur volutpat sit amet metus sit amet iaculis. Duis ut mollis quam. Aliquam interdum felis augue, eget malesuada libero gravida et. Etiam eu volutpat mi, et feugiat purus. Nulla at mattis arcu, nec vulputate nunc. Aenean ut dui nibh. Maecenas lectus nunc, rhoncus eu sem id, viverra porta elit. Cras commodo augue magna, accumsan bibendum nulla semper ac. Sed sollicitudin volutpat dui, ac tincidunt arcu convallis et. Nam eu semper sem, ut pharetra sapien.
                                                
                                                Sed quis rutrum enim. Sed elementum orci et consectetur vehicula. Donec diam magna, varius id rhoncus sit amet, ullamcorper id magna. Praesent imperdiet urna non urna suscipit maximus. Suspendisse at enim quis diam pulvinar interdum. In sit amet fringilla metus. Cras eu ante id arcu dapibus pretium.
                                                
                                                Quisque eleifend sem enim, at viverra risus fringilla sit amet. Aenean vel feugiat felis. Aenean nec lacinia neque, id accumsan nulla. In at neque sed leo luctus mattis nec et tortor. Aenean vel sapien risus. Curabitur mattis erat magna, non sollicitudin felis egestas a. Phasellus non lectus iaculis nisi gravida hendrerit ut at neque.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-center" id="Portfolio">
                                        <div class="col-xs-4 col-xs-offset-4">
                                            <a href="https://github.com/WnndGws/" class="btn btn-block btn-social btn-lg btn-github">
                                                <span class="fa fa-github"></span>
                                                You can find all my work posted on Github
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-center" id="Contact">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>E-mail</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>GPG</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>Bitcoin</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
